# Eclipse
/.metadata
/.settings
/[Rr]elease
/[Dd]ebug
/.launch

# CubeMX
/.mxproject

# CMake
/build
CMakeFiles
CMakeCache.txt
cmake_install.cmake
compile_commands.json
build.ninja
Makefile
cmake_install.cmake

/FC_firmware.map
/FC_firmware.elf

/.vscode
